/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Prep {background-color: lightgray;}
  #Conf {background-color: lightgreen;}
  #Embalagem {background-color: lightskyblue;}
  #Entrega {background-color: lightslategray;}
  #Busca {background-color: lightsalmon;}

  /* Adiciona um plano de fundo cinza e padding ao footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.background-white {
  background-color: white;
}